# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
ENV/
env/
.venv/
streamlit-env/

# Streamlit
.streamlit/secrets.toml

# IDEs and Editors
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs and others
*.log
